ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

/*=========HEADER========*/

.logo{
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-span{
    color: #2e2f42;
}

/*=========HERO PAGE========*/

.hero{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    background: #2e2f42;
    color: #ffff;
}

/*=========OUR TEAM========*/

.team{
    background: #f4f4fd;
}

/*=========FOOTER========*/

.footer{
    background: #2e2f42;
    color: #ffff;
}

.footer-logo {
    color: #ffff;
}